.button {
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 0.9375rem 1.25rem;
  background-color: #333;
  border-radius: 0.625rem;
  -webkit-transition: -webkit-transform 0.1s ease 0s;
  transition: -webkit-transform 0.1s ease 0s;
  transition: transform 0.1s ease 0s;
  transition: transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s;
}
.button:active {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button:disabled:active {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}
