.button {
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 0.9375rem 1.25rem;
  background-color: #333;
  border-radius: 0.625rem;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-shadow: -2px -2px 3px #555, 2px 2px 3px #222, 1px -1px 3px #555,
    -1px 1px 3px #555, inset 2px 2px 3px #555, inset -2px -2px 3px #222;
  box-shadow: -2px -2px 3px #555, 2px 2px 3px #222, 1px -1px 3px #555,
    -1px 1px 3px #555, inset 2px 2px 3px #555, inset -2px -2px 3px #222;
  -webkit-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}
.button:active {
  background-color: #303030;
  -webkit-box-shadow: 2px 2px 3px #555, -2px -2px 3px #222, -1px 1px 3px #555,
    1px -1px 3px #555, inset -2px -2px 3px #555, inset 2px 2px 3px #222;
  box-shadow: 2px 2px 3px #555, -2px -2px 3px #222, -1px 1px 3px #555,
    1px -1px 3px #555, inset -2px -2px 3px #555, inset 2px 2px 3px #222;
}
.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button:disabled:active {
  background-color: #333;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-shadow: -2px -2px 3px #555, 2px 2px 3px #222, 1px -1px 3px #555,
    -1px 1px 3px #555, inset 2px 2px 3px #555, inset -2px -2px 3px #222;
  box-shadow: -2px -2px 3px #555, 2px 2px 3px #222, 1px -1px 3px #555,
    -1px 1px 3px #555, inset 2px 2px 3px #555, inset -2px -2px 3px #222;
}
